# Dependencies
node_modules/

# Env and secrets
.env
.env.local
.env.*.local

# Build / cache
.next/
dist/
*.tsbuildinfo

# CRE
cre-workflows/.env

# Contracts
contracts/.env

# Database
*.db
*.db-journal
*.db-wal

# Prisma generated client
db/generated/

# Lock files
bun.lock
bun.lockb

# Hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/

# OS
.DS_Store
*.log
